In [1]:
import pandas as pd
import numpy as np
from config import path, data_features, statistics

In [2]:
df = pd.read_csv(path + data_features).drop(columns='url').astype(int, errors='ignore')
df = df.sort_index(axis=1)
df.head()

,true_color.AliceBlue,true_color.AntiqueWhite,true_color.AntiqueWhite1,true_color.AntiqueWhite2,true_color.AntiqueWhite3,true_color.AntiqueWhite4,true_color.BlanchedAlmond,true_color.BlueViolet,true_color.CadetBlue,true_color.CadetBlue1,...,true_color.violet,true_color.wheat,true_color.wheat1,true_color.wheat2,true_color.wheat3,true_color.wheat4,true_color.yellow1,true_color.yellow2,true_color.yellow3,true_color.yellow4
0,0,0,0,4,397,672,0,0,0,0,...,0,0,0,0,0,8,0,0,0,0
1,0,0,0,2,278,314,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
2,0,0,0,70,713,252,0,0,0,0,...,0,0,0,0,0,6,0,0,0,0
3,0,0,0,114,329,265,0,0,0,0,...,0,0,0,0,0,22,0,0,0,0
4,0,0,0,54,319,304,0,0,0,0,...,0,0,0,0,0,18,0,0,0,4

In [3]:
count = np.empty(shape=(len(df.columns)), dtype=int)
sum = np.empty(shape=(len(df.columns)))
median = np.empty(shape=(len(df.columns)), dtype=int)
i = 0
for color in df.columns:
    count[i] = np.count_nonzero(df[color])
    sum[i] = np.sum(df[color])
    median[i] = np.median(df[color])
    i += 1

In [4]:
stats = df.describe().transpose()
stats['count'] = count
stats.insert(loc=1, column='sum', value=sum)
stats.insert(loc=2, column='median', value=median)
stats

,count,sum,median,mean,std,min,25%,50%,75%,max
true_color.AliceBlue,623820,243444884.0,12,250.378104,1085.741091,0.0,0.0,12.0,127.0,136131.0
true_color.AntiqueWhite,419106,50810889.0,0,52.257964,319.966977,0.0,0.0,0.0,11.0,29165.0
true_color.AntiqueWhite1,328851,24085557.0,0,24.771505,201.147267,0.0,0.0,0.0,4.0,31573.0
true_color.AntiqueWhite2,609253,172614238.0,6,177.530228,850.925801,0.0,0.0,6.0,67.0,60700.0
true_color.AntiqueWhite3,772805,320760291.0,40,329.895425,1092.103199,0.0,2.0,40.0,236.0,64346.0
...,...,...,...,...,...,...,...,...,...,...
true_color.wheat4,842657,339677607.0,85,349.351499,840.155013,0.0,11.0,85.0,339.0,65372.0
true_color.yellow1,20115,8305685.0,0,8.542228,591.904686,0.0,0.0,0.0,0.0,147456.0
true_color.yellow2,22392,6457559.0,0,6.641468,507.415572,0.0,0.0,0.0,0.0,130032.0
true_color.yellow3,29706,6771925.0,0,6.964787,366.126865,0.0,0.0,0.0,0.0,95768.0
true_color.yellow4,94659,16726129.0,0,17.202483,286.796475,0.0,0.0,0.0,0.0,42968.0

In [5]:
stats.to_excel(path + statistics)